@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind screens;
@tailwind plugins;

.padding {
    padding-bottom: 500px;
    margin-bottom: 100px;
  }
  .my-custom-table-width {
    width: 1000px; /* Adjust as needed */
  }

.padd{
    margin-right:60px;
}